<section class="bg-light py-10">
    <div class="container">
      <div class="text-uppercase-expanded text-center mb-5 text-white-300">Asher Game Store</div>
      <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="assets/img/Game_a.png" alt="Card image cap" loading="lazy">
            <div class="card-body">
                <h5 class="card-title"><b>Asher Game Coming Soon</b></h5>
                <!-- <p class="card-text">We offer web and mobile development.</p>
                <p class="card-text" style="font-family: calibri;">Creating a web and or mobile app solution to streamline your business, organization or institution workflow is key within the modern world. It all helps you create a more efficient and productive workflow or help you bridge market reach to maximize business revenue. And we're the right company to get the job done for you.</p> -->
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/img/Game_b.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><b>Games Coming Soon</b></h5>
                <!-- <p class="card-text">Games Coming Soon</p>
                <p class="card-text" style="font-family: calibri;">Let us help you plan, design, develop and implement a business solution as a software for your business to give you that extra market reach digitally and help you drive up your business reach by attracting more customers to increase revenue generation while you focus on the main aspect of running your business.</p> -->
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/img/Game_c.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><b>Games Coming Soon</b></h5>
                <!-- <p class="card-text">We provide prepackaged software solutions and we develop robust enterprise software.</p>
                <p class="card-text" style="font-family: calibri;">Our team is equiped with bright minds and experience. We built prepackage general software solutions that can be used across different companies and we also develop enterprise software as require by businesses.</p> -->
            </div>
        </div>
    </div>
    <br />
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="assets/img/Game_d.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><b>Games Coming Soon</b></h5>
                <!-- <p class="card-text">We offer dedicated team of software engineers for your software development needs.</p>
                <p class="card-text" style="font-family: calibri;">Leave the tussle of designing, developing, implementing and maintaining your business or institution web and mobile applications and software to us, we have the right teams and resources for just that. This will allow you to strengthen your focus on your business growth and development. While sparing you the tough time of recruiting, hiring and maintaining the right software engineers for developing your software products.</p> -->
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/img/Game_e.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><b>Games Coming Soon</b></h5>
                <!-- <p class="card-text">We offer product designs and management.</p>
                <p class="card-text" style="font-family: calibri;">Our team have great experience across major industries bieng software engineers, product owners and managers. With great skills in understanding markets and workflows in major and different industries, this give us the edge of planning, designing, developing and implementing robust and efficient market winning products, making us just the right team to hire for your projects.</p> -->
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/img/Game_f.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><b>Games Coming Soon</b></h5>
                <!-- <p class="card-text">We develop Web3 and Blockchain Applications.</p>
                <p class="card-text" style="font-family: calibri;">Decentralized and centralized blockchain technologies are the future of the web, technology and finance as the world keep evolving. We offer services in developing Dapp, NFTs, DAO, Defi and Smart Contracts. Including offering core blockchain development services in placing developers with your blockchain or web3 company.</p> -->
            </div>
        </div>
    </div>
        <!-- <div class="card">
            <img class="card-img-top" src=".." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card</h5>
                <p class="card-text">This is text</p>
                <p class="card-text">This cards</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src=".." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card</h5>
                <p class="card-text">This is text</p>
                <p class="card-text">This cards</p>
            </div>
        </div> -->
    </div>
<app-bottom-curve></app-bottom-curve>
</section>
<router-outlet></router-outlet>
