<header class="page-header page-header-light bg-white">
    <div class="page-header-content">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <h1 class="page-header-title" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Digital Marketplace</h1>
                    <p class="page-header-text mb-5" style="font-family: calibri;">
                        <!-- Coming Soon!!!!!!!. -->
                    </p>
                </div>
                <div class="col-lg-5 d-none d-lg-block"><img src="assets/img/servicesimg/clip-1397.png" class="d-block w-100" alt=".." loading="lazy"></div>
            </div>
        </div>
    </div>
    <!-- <app-bottom-curve></app-bottom-curve> -->
</header>
<section class="bg-white py-10">
    <div class="container">
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="assets/img/gaming.png" alt="Card image cap">
                <div class="card-body">
                    <!-- <h5 class="card-title">Lonestar Cell Enterprise Software (Portal) For Sim Registration</h5> -->
                    <!-- <p class="card-text">This is text</p> -->

                    <a routerLink="/gamestore">
                        <!-- Visit the Asher Game Store  class="btn btn-primary"-->
                        <p class="card-text text-center">Game Store</p>
                    </a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="assets/img/art.png" alt="Card image cap">
                <div class="card-body">
                    <!-- <h5 class="card-title">Lonestar Cell MTN Yello 200 Product Management Portal</h5> -->

                    <a href="#">
                        <!-- Visit our Art Store -->
                        <p class="card-text text-center">Art Store</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
<app-bottom-curve></app-bottom-curve>
</section>
<router-outlet></router-outlet>
