<header class="page-header page-header-light bg-white">
    <div class="page-header-content">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <h1 class="page-header-title">The Smovtek Team!</h1>
                    <p class="page-header-text mb-5" style="font-family: calibri; color: rgb(60, 60, 70); font-style: italic;">
                        Our team is filled with experienced professionals in their perspective fields.
                    </p>
                </div>
                <div class="col-lg-5 d-none d-lg-block"><img src="assets/img/newproduts.png" class="d-block w-100" alt=".."></div>
            </div>
        </div>
    </div>
</header>
<section class="bg-white py-10">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <!-- <section class="bg-white py-10">
                    <div class="container"> -->
                        <!-- <div class="card-deck"> -->
                            <div class="card w-60">
                                <div class="card-body">
                                    <img class="rounded mx-auto d-block" src="assets/img/developers/smov_tek_fouder.jpg" alt="Card image cap" width="100px" height="100px">
                                    <h5 class="card-title text-center">Samly Courage Panton</h5>
                                    <p class="card-text text-center">Founder & CEO</p>

                                    <!-- <a routerLink="/gamestore"> -->
                                        <!-- Visit the Asher Game Store  class="btn btn-primary"-->
                                        <p class="card-text">Game Store</p>
                                    <!-- </a> -->
                                </div>
                            </div>
                        <!-- </div> -->
                        <br>
                        <!-- <div class="card-deck"> -->
                            <div class="card w-60">
                                <div class="card-body">
                                    <img class="rounded mx-auto d-block" src="assets/img/developers/consultant.PNG" alt="Card image cap" width="100px" height="100px">
                                    <h5 class="card-title text-center">Dr. Narendra Kumar</h5>
                                    <p class="card-text text-center">Consulting CTO</p>

                                    <!-- <a routerLink="/gamestore"> -->
                                        <!-- Visit the Asher Game Store  class="btn btn-primary"-->
                                        <p class="card-text">Game Store</p>
                                    <!-- </a> -->
                                </div>
                            </div>
                            <br>
                            <div class="card w-60">
                                <div class="card-body">
                                    <img class="rounded mx-auto d-block" src="assets/img/developers/mohitt.jpg" alt="Card image cap" width="100px" height="100px">
                                    <h5 class="card-title text-center">Mohitt Gupta</h5>
                                    <p class="card-text text-center">Full Stack Engineer</p>
                                    <p class="card-text">Game Store</p>
                                </div>
                            </div>
                            <br>
                            <div class="card w-60">
                                <div class="card-body">
                                    <img class="rounded mx-auto d-block" src="assets/img/developers/deep.jpg" alt="Card image cap" width="100px" height="100px">
                                    <h5 class="card-title text-center">Deep Singh</h5>
                                    <p class="card-text text-center">Full Stack Engineer</p>
                                    <p class="card-text">Game Store</p>
                                </div>
                            </div>
            </div>
        </div>
    </div>
    <app-bottom-curve></app-bottom-curve>
</section>
<router-outlet></router-outlet>
