
<section class="bg-white py-10">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"></h5>

                        <figure class="text-center">
                            <blockquote class="blockquote">
                              <p>Thanks for reaching out and we appreciate your interest in hiring us. We've recieved your message and will respond as soon as possible!                                .</p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                                Thanks.
                                <br>
                                <cite title="Source Title">The Smovtek Team</cite>
                            </figcaption>
                          </figure>
                            <p class="card-text">

                            </p>
                        <!-- <p class="card-text" style="font-family: calibri;">Our CEO has over five years of software development experience with an Advanced Diploma in software engineer and Bachelors Degree In Information Technology with Emphasis in Software Engineering. He has a good portfolio in web and mobile development, product designs and implementations, telecom value added services, DevOps and software development. He is also a great solution specialists and a technical team lead. </p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-bottom-curve></app-bottom-curve>
</section>
<router-outlet></router-outlet>