<!-- <header class="page-header page-header-light bg-white">
    <div class="page-header-content">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <h1 class="page-header-title">About Smovtek.</h1>
                    <p class="page-header-text mb-5" style="font-family: calibri;">
                        Smovtek is a Limited Liability Company incorporated in Liberia founded in October 2021 by Samly Courage Panton.
                        Smovtek LLC is Software Company with its Headquarters in Monrovia, Warren and Carey Streets and a pending External Operational Office in Accra, Ghana.
                    </p> -->
                    <!-- <div class="row">
                        <div class="col-md-6">
                           <a routerLink="/hire">
						   <button class="btn btn-dark btn-block rounded-pill">
                            Contact Form Below!
                            </button>
							</a>
                        </div>
                    </div> -->
                <!-- </div>
                <div class="col-lg-5 d-none d-lg-block"><img src="assets/img/newproduts.png" class="d-block w-100" alt=".."></div>
            </div>
        </div>
    </div> -->
    <!-- <app-bottom-curve class="text-light"></app-bottom-curve> -->
<!-- </header> -->
<section class="bg-white py-10">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">



              <!-- <div class="card">
                <img class="card-img-top" src="assets/img/blok.PNG" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">TeamPod Finance</h5>
                  <p class="card-text">The Smovtek TeamPod Finance is a blockchain dapp which will offer individuals or users the opportunity to create a TeamPod saving or investment club as a Team on invites only basis. TeamPod members and creators will also have the opportunity to have access to separate Stable Coin Investment Fund to invest into with a 18.9% APY on their investment. While having access to different communities, markets and industries on nodes embedded with channels and chatrooms.</p>
                  <a href="#" class="btn btn-primary">Under Development</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Smov Verse</h5>
                  <p class="card-text">The Smov Verse is a movie streaming platform as a service which will be bringing different TV shows, series and movies to our users. This will be further updated on.</p>
                  <a href="#" class="btn btn-primary">Pending Development...</a>
                </div>
              </div> -->
            </div>
        </div>
    </div>
    <app-bottom-curve></app-bottom-curve>
</section>
<router-outlet></router-outlet>
