<header class="page-header page-header-light bg-white">
    <div class="page-header-content">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <h1 class="page-header-title">Check out our portfolio below.</h1>
                    <p class="page-header-text mb-5" style="font-family: calibri;">
                        Kindly scroll below to go through our past and present software solutions and projects designed, developed and implemented by our top tier of engineers in quality with on time delivery.
                    </p>
                    <!-- <div class="row">
                        <div class="col-md-6">
                           <a routerLink="/hire">
						   <button class="btn btn-dark btn-block rounded-pill">
                            Contact Form Below!
                            </button>
							</a>
                        </div>
                    </div> -->
                </div>
                <div class="col-lg-5 d-none d-lg-block"><img src="assets/img/servicesimg/clip-1059.png" class="d-block w-100" alt=".."></div>
            </div>
        </div>
    </div>
    <!-- <app-bottom-curve class="text-light"></app-bottom-curve> -->
</header>


<!-- <header class="page-header page-header-light bg-white">
   <div class="page-header-content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <h4 class="page-header-title">
                    Scroll below to go through our past and present software solutions with all projects being delivered on time and safe.
                </h4>
            </div>
        </div>
    </div>
   </div>
</header> -->
<section class="bg-white py-10">
    <div class="container">
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="assets/img/simregmobilemoney.PNG" alt="Card image cap">
                <div class="card-body">
                    <!-- <h5 class="card-title">Lonestar Cell Enterprise Software (Portal) For Sim Registration</h5> -->
                    <!-- <p class="card-text">This is text</p> -->
                    <p class="card-text">Lonestar Cell MTN Enterprise Software (Portal) For Sim Registration</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="assets/img/mtnyello200admin.PNG" alt="Card image cap">
                <div class="card-body">
                    <!-- <h5 class="card-title">Lonestar Cell MTN Yello 200 Product Management Portal</h5> -->
                    <p class="card-text">Lonestar Cell MTN Yello 200 Product Management Portal</p>
                    <!-- <p class="card-text">This cards</p> -->
                </div>
            </div>
            <div class="card">
                <!-- <a href="https://cryptodevs-omega.vercel.app/"> -->
                <img class="card-img-top" src="assets/img/portfolio/SMOV_VERSE_Mockup.jpg" alt="Card image cap">
                <div class="card-body">
                    <!-- <h5 class="card-title">Card</h5> -->
                    <p class="card-text">Smov Verse Streaming Platform Mock-up</p>
                    <!-- <p class="card-text">This cards</p> -->
                </div>
                <!-- </a> -->
            </div>
            <!-- <div class="card">
                <img class="card-img-top" src=".." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card</h5>
                    <p class="card-text">This is text</p>
                    <p class="card-text">This cards</p>
                </div>
            </div> -->
        </div>
        <br /> <br />
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="assets/img/cw.PNG" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Portfolio</h5>
                    <p class="card-text">Staffing with Cerebral Works</p>
                    <p class="card-text">Software Development Outsourcing</p>
                </div>
            </div>
            <div class="card">
                <!-- <a style="text-decoration: none; "href="https://drive.google.com/drive/folders/1koAs3sDrEtzThmJXalSv4ekMoJY4ELbo"> -->
                <img class="card-img-top" src="assets/img/portfolio/vis.jpg" alt="Portfolio">
                <div class="card-body">
                    <h5 class="card-title">Visual Arts and Designs</h5>
                    <p class="card-text">Portfolio......</p>
                    <!-- <p class="card-text">This cards</p> -->
                </div>
            <!-- </a> -->
            </div>
            <div class="card">
                <img class="card-img-top" src="assets/img/blok.PNG" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Dapp product</h5>
                    <p class="card-text">Pending Smovtek blockchain product</p>
                    <!-- <p class="card-text">This cards</p> -->
                </div>
            </div>
            <!-- <div class="card">
                <img class="card-img-top" src=".." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card</h5>
                    <p class="card-text">This is text</p>
                    <p class="card-text">This cards</p>
                </div>
            </div> -->
        </div>
    </div>
<app-bottom-curve></app-bottom-curve>
</section>
<router-outlet></router-outlet>
